﻿/* SPDX-License-Identifier: ISC */

:root {
    --small-padding: 0.4em;
    --border: hsl(210, 10%, 40%);
    --text: hsl(210, 90%, 90%);
    --background: hsl(210, 40%, 40%);
}

html {
    box-sizing: border-box;
    height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(253,187,45);
    background: linear-gradient(0deg, hsl(120, 70%, 40%) 100%, hsl(120, 30%, 30%) 0%);
    color: var(--text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

fieldset {
    background-color: var(--background);
    border-color: var(--border);
    border-radius: var(--small-padding);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

legend {
    background-color: var(--background);
    border-radius: var(--small-padding);
    color: var(--text);
    padding: var(--small-padding);
}

button {
    font-family: inherit;
    color: var(--background);
    background-color: var(--text);
    border-radius: var(--small-padding);
}

details details {
    margin-left: calc(2 * var(--small-padding));
}

details > summary {
    font-weight: bold;
}

/*
    dl formatting with grid
    via https://stackoverflow.com/a/44599527 */

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    align-content: center;
    border: thin solid var(--border);
    font-weight: bold;
    grid-column-start: 1;
    height: auto;
    margin: 0;
    padding: var(--small-padding);
    text-align: center;
}

dd {
    grid-column-start: 2;
    margin: 0;
    border: thin solid var(--border);
    padding: var(--small-padding);
}

.rowspan {
    align-items: center;
    display: flex;
    grid-row-end: span 2;
    justify-content: center;
}

#input {
    background-color: var( --background );
    border-color: var( --border );
    border-radius: var(--small-padding);
    color: var(--text);
    padding: var(--small-padding);
    width: 100%;
}

#output {
    padding: var(--small-padding);
    border: 2px inset var(--border);
    color: var(--text);
    background-color: var( --background );
    border-radius: var(--small-padding);
    max-height: 4em;
    min-height: 1em;
    overflow-y: scroll;
}



/* Utility classes*/

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

    .row > * {
        margin-left: var(--small-padding);
        margin-right: var(--small-padding);
    }

    .row > :first-child {
        margin-left: 0
    }

    .row > :last-child {
        margin-right: 0
    }

.fill {
    flex-grow: 1;
}

.mt {
    margin-top: var(--small-padding);
}

.mb {
    margin-bottom: var(--small-padding);
}

.ml {
    margin-left: var(--small-padding);
}
